<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<logicProblem>
    <title>Problem 47</title>
    <source>Penny Press Original Logic Problems Mar 1999</source>
    <problemText>Between the demands of her job as a production editor and those of her growing family, Sabrina rarely has time to indulge in her favorite pastime – reading!  Knowing her free time is scarce, Sabrina often reads several books at once.  Last night, for instance, she read a different number of pages (15 through 19) from five different books!  Each book was written by a different author and is of a different genre.  Fortunately, Sabrina’s family always knows what to get her for her birthday – bookmarks!  From the information provided, can you determine the author (identified by first and last names) and genre of each book, as well as the number of pages Sabrina read in each?
</problemText>
    <scale>1.0</scale>
    <categoriesList>
        <name>Book</name>
        <type>NORMAL</type>
        <items>
            <name>Haley's Comet</name>
        </items>
        <items>
            <name>Into The Fire</name>
        </items>
        <items>
            <name>Never Again</name>
        </items>
        <items>
            <name>Passion Play</name>
        </items>
        <items>
            <name>Starburst</name>
        </items>
    </categoriesList>
    <categoriesList>
        <name>Author</name>
        <type>NORMAL</type>
        <items>
            <name>Bettany</name>
        </items>
        <items>
            <name>Donovan</name>
        </items>
        <items>
            <name>Elizabeth</name>
        </items>
        <items>
            <name>Frederick</name>
        </items>
        <items>
            <name>Peyton</name>
        </items>
    </categoriesList>
    <categoriesList>
        <name>Pages</name>
        <type>NUMERICAL</type>
        <items>
            <name>15</name>
        </items>
        <items>
            <name>16</name>
        </items>
        <items>
            <name>17</name>
        </items>
        <items>
            <name>18</name>
        </items>
        <items>
            <name>19</name>
        </items>
    </categoriesList>
    <categoriesList>
        <name>Genre</name>
        <type>NORMAL</type>
        <items>
            <name>Biography</name>
        </items>
        <items>
            <name>Fantasy</name>
        </items>
        <items>
            <name>Mystery</name>
        </items>
        <items>
            <name>Romance</name>
        </items>
        <items>
            <name>Science-Fiction</name>
        </items>
    </categoriesList>
    <categoriesList>
        <name>Last Name</name>
        <type>NORMAL</type>
        <items>
            <name>Chapman</name>
        </items>
        <items>
            <name>Holden</name>
        </items>
        <items>
            <name>Koenig</name>
        </items>
        <items>
            <name>Rawlins</name>
        </items>
        <items>
            <name>Wright</name>
        </items>
    </categoriesList>
    <numberedClueList>
        <nextClueNumber/>
    </numberedClueList>
    <relationshipTable>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
        <entry>
            <key/>
            <value>
                <annotation></annotation>
                <logicType>CONSTRAINT</logicType>
                <value>VALUE_UNKNOWN</value>
            </value>
        </entry>
    </relationshipTable>
</logicProblem>
