<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<logicProblem>
    <title>Problem 0</title>
    <source>Penny Pres Original Logic Problems Mar 1999</source>
    <scale>1.0</scale>
    <categories>
        <name>Book</name>
        <type>NORMAL</type>
        <items>
            <name>Haley's Comet</name>
        </items>
        <items>
            <name>Into The Fire</name>
        </items>
        <items>
            <name>Never Again</name>
        </items>
    </categories>
    <categories>
        <name>School</name>
        <type>NORMAL</type>
        <items>
            <name>Bettany</name>
        </items>
        <items>
            <name>Donovan</name>
        </items>
        <items>
            <name>Elizabeth</name>
        </items>
    </categories>
    <categories>
        <name>Pages</name>
        <type>NUMERICAL</type>
        <items>
            <name>15</name>
        </items>
        <items>
            <name>16</name>
        </items>
        <items>
            <name>17</name>
        </items>
    </categories>
</logicProblem>
