<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<logicProblem>
    <title>Problem 47</title>
    <source>Penny Pres Original Logic Problems Mar 1999</source>
    <scale>1.0</scale>
    <categories>
        <name>Book</name>
        <type>NORMAL</type>
        <items>
            <name>Haley's Comet</name>
        </items>
        <items>
            <name>Into The Fire</name>
        </items>
        <items>
            <name>Never Again</name>
        </items>
        <items>
            <name>Passion Play</name>
        </items>
        <items>
            <name>Starburst</name>
        </items>
    </categories>
    <categories>
        <name>Author</name>
        <type>NORMAL</type>
        <items>
            <name>Bettany</name>
        </items>
        <items>
            <name>Donovan</name>
        </items>
        <items>
            <name>Elizabeth</name>
        </items>
        <items>
            <name>Frederick</name>
        </items>
        <items>
            <name>Peyton</name>
        </items>
    </categories>
    <categories>
        <name>Pages</name>
        <type>NUMERICAL</type>
        <items>
            <name>15</name>
        </items>
        <items>
            <name>16</name>
        </items>
        <items>
            <name>17</name>
        </items>
        <items>
            <name>18</name>
        </items>
        <items>
            <name>19</name>
        </items>
    </categories>
    <categories>
        <name>Genre</name>
        <type>NORMAL</type>
        <items>
            <name>Biography</name>
        </items>
        <items>
            <name>Fantasy</name>
        </items>
        <items>
            <name>Mystery</name>
        </items>
        <items>
            <name>Romance</name>
        </items>
        <items>
            <name>Science-Fiction</name>
        </items>
    </categories>
    <categories>
        <name>Last Name</name>
        <type>NORMAL</type>
        <items>
            <name>Chapman</name>
        </items>
        <items>
            <name>Holden</name>
        </items>
        <items>
            <name>Koenig</name>
        </items>
        <items>
            <name>Rawlins</name>
        </items>
        <items>
            <name>Wright</name>
        </items>
    </categories>
</logicProblem>
