<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<logicProblem>
    <title>problem title here</title>
    <source>this is from a great magazine</source>
    <scale>1.0</scale>
    <categories>
        <name>category 1</name>
        <type>NORMAL</type>
        <items>
            <name>item 11</name>
        </items>
        <items>
            <name>item 12</name>
        </items>
        <items>
            <name>item 13</name>
        </items>
    </categories>
    <categories>
        <name>category 2</name>
        <type>NUMERICAL</type>
        <items>
            <name>30</name>
        </items>
        <items>
            <name>31</name>
        </items>
        <items>
            <name>32</name>
        </items>
    </categories>
    <categories>
        <name>category 3</name>
        <type>NORMAL</type>
        <items>
            <name>item 31</name>
        </items>
        <items>
            <name>item 32</name>
        </items>
        <items>
            <name>item 33</name>
        </items>
    </categories>
    <clues>
        <text>clue1</text>
        <type>NORMAL</type>
    </clues>
    <clues>
        <text>clue2</text>
        <type>SPECIAL</type>
    </clues>
</logicProblem>
