<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<logicProblem>
    <title>Charity Begins</title>
    <source>Puzzler Logic Problems Issue 85 2016</source>
    <scale>1.0</scale>
    <categories>
        <name>Position</name>
        <type>NUMERICAL</type>
        <items>
            <name>1</name>
        </items>
        <items>
            <name>2</name>
        </items>
        <items>
            <name>3</name>
        </items>
        <items>
            <name>4</name>
        </items>
        <items>
            <name>5</name>
        </items>
        <items>
            <name>6</name>
        </items>
    </categories>
    <categories>
        <name>Artist</name>
        <type>NORMAL</type>
        <items>
            <name>Adam Ace</name>
        </items>
        <items>
            <name>Bella Brill</name>
        </items>
        <items>
            <name>Craig Crack</name>
        </items>
        <items>
            <name>Donna Demon</name>
        </items>
        <items>
            <name>Emma ExL</name>
        </items>
        <items>
            <name>Fergus Flash</name>
        </items>
    </categories>
    <categories>
        <name>Word</name>
        <type>NORMAL</type>
        <items>
            <name>We</name>
        </items>
        <items>
            <name>come</name>
        </items>
        <items>
            <name>on</name>
        </items>
        <items>
            <name>the</name>
        </items>
        <items>
            <name>sloop</name>
        </items>
        <items>
            <name>John B</name>
        </items>
    </categories>
    <categories>
        <name>Band</name>
        <type>NORMAL</type>
        <items>
            <name>Broken Key</name>
        </items>
        <items>
            <name>Hi Savana</name>
        </items>
        <items>
            <name>The Haunted</name>
        </items>
        <items>
            <name>The Spindles</name>
        </items>
        <items>
            <name>The Tailors</name>
        </items>
        <items>
            <name>Wasted Age</name>
        </items>
    </categories>
    <clues>
        <text>3 is not The Tailors</text>
        <type>CONSTRAINT</type>
    </clues>
    <clues>
        <text>3 is not The Haunted</text>
        <type>CONSTRAINT</type>
    </clues>
    <clues>
        <text>3 is not The Spindles</text>
        <type>CONSTRAINT</type>
    </clues>
</logicProblem>
