<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<logicProblem>
    <title>problem title here</title>
    <scale>1.0</scale>
    <categories>
        <name>category 1</name>
        <type>NORMAL</type>
        <items>
            <name>item 11</name>
        </items>
        <items>
            <name>item 12</name>
        </items>
        <items>
            <name>item 13</name>
        </items>
    </categories>
    <categories>
        <name>category 2</name>
        <type>NORMAL</type>
        <items>
            <name>item 21</name>
        </items>
        <items>
            <name>item 22</name>
        </items>
        <items>
            <name>item 23</name>
        </items>
    </categories>
    <categories>
        <name>category 3</name>
        <type>NORMAL</type>
        <items>
            <name>item 31</name>
        </items>
        <items>
            <name>item 32</name>
        </items>
        <items>
            <name>item 33</name>
        </items>
    </categories>
    <clues/>
    <clues/>
</logicProblem>
