#btn_new {          
    -fx-graphic: url("/icons/new.png");
}

#btn_open {          
    -fx-graphic: url("/icons/open.png");
}

#btn_save {          
    -fx-graphic: url("/icons/save.png");
}

#btn_undo {
    -fx-graphic: url("/icons/undo.png");
}

#btn_reset {
    -fx-graphic: url("/icons/reset.png");
}


.tool-bar .button {
    -fx-text-fill: #673AB7;
}

.tool-bar .button:hover {
    -fx-text-fill: #ff0000;
}

.gridmajor {
    -fx-stroke: blue;
}

.gridminor {
    -fx-stroke: black;
}
.x {
    -fx-stroke: red;
}

.o {
    -fx-stroke: blue;
}

.gridLabel {
    -fx-border-color: blueviolet;
    -fx-label-padding: 5px;
}

.gridLabel:hover {
    -fx-border-color: red;
    -fx-label-padding: 5px;
}

.cirlcebutton {
    -fx-background-radius: 3em;
    -fx-border-radius: 3em;
    -fx-border-color: blueviolet;
    -fx-min-width: 34px;
    -fx-min-height: 34px;
    -fx-max-width: 34px;
    -fx-max-height: 34px;
    -fx-font-weight: bold;
}

.cirlceglyph {
    -fx-border-radius: 10;
}


.notification-pane .notification-bar > .pane {
    -fx-background-color:slateblue;
}

.notification-pane .notification-bar > .pane > .label {
    -fx-text-fill: white;
}

.gridCell:hover {
    -fx-background-color: yellow;
}
