#btn_new {          
    -fx-graphic: url("/icons/toolbar/new.png");
}

#btn_open {          
    -fx-graphic: url("/icons/toolbar/open.png");
}

#btn_save {          
    -fx-graphic: url("/icons/toolbar/save.png");
}

#btn_undo {
    -fx-graphic: url("/icons/toolbar/undo.png");
}

#btn_reset {
    -fx-graphic: url("/icons/toolbar/reset.png");
}


.tool-bar .button {
    -fx-text-fill: #673AB7;
}

.tool-bar .button:hover {
    -fx-text-fill: #ff0000;
}

.gridmajor {
    -fx-stroke: blue;
}

.gridminor {
    -fx-stroke: black;
}
.x {
    -fx-stroke: red;
}

.o {
    -fx-stroke: blue;
}

.slideout {
    -fx-background-color: rgba(75,0,130,.25);
    -fx-padding: 5 5 5 5;
}

.slideout .label {
    -fx-text-fill: blueviolet;
}

.gridLabel {
    -fx-border-color: blueviolet;
    -fx-label-padding: 5px;
}

.gridLabel:hover {
    -fx-border-color: red;
    -fx-label-padding: 5px;
}

.cirlcebutton {
    -fx-background-radius: 3em;
    -fx-border-radius: 3em;
    -fx-border-color: blueviolet;
    -fx-min-width: 34px;
    -fx-min-height: 34px;
    -fx-max-width: 34px;
    -fx-max-height: 34px;
    -fx-font-weight: bold;
    
}

.glyphbox .label {
    
    -fx-background-radius: 3em;
    -fx-border-radius: 3em;
    -fx-border-color: blueviolet;
    -fx-min-width: 34px;
    -fx-min-height: 34px;
    -fx-max-width: 34px;
    -fx-max-height: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: blueviolet;
    -fx-alignment:CENTER;
}

.glyphbox .label:hover {
    -fx-border-color: blueviolet;
    -fx-background-color: blueviolet;
    -fx-text-fill: white;
}

.tooltip {
    -fx-background-color: blueviolet;
}


.notification-pane .notification-bar > .pane {
    -fx-background-color:slateblue;
}

.notification-pane .notification-bar > .pane > .label {
    -fx-text-fill: white;
}

.gridCell:hover {
    -fx-background-color: yellow;
}

.highlight-NORMAL {
    -fx-background-color: white;
}

.highlight-PREDECESSOR {
    -fx-background-color: lightcoral;
}

.highlight-UNIQUE {
    -fx-background-color: lightblue;
}

.highlight-TRANSPOSE {
    -fx-background-color: lightcyan;
}

.highlight-COMMONALITY {
    -fx-background-color: limegreen;
}

.highlight-CONSTRAINT {
    -fx-background-color: lightcoral;
}

.highlight-CROSS {
    -fx-background-color: lightgreen;
}