#btn_new {          
    -fx-graphic: url("/icons/toolbar/new.png");
}

#btn_open {          
    -fx-graphic: url("/icons/toolbar/open.png");
}

#btn_save {          
    -fx-graphic: url("/icons/toolbar/save.png");
}

#btn_process {          
    -fx-graphic: url("/icons/toolbar/process.png");
}

#btn_undo {
    -fx-graphic: url("/icons/toolbar/undo.png");
}

#btn_reset {
    -fx-graphic: url("/icons/toolbar/reset.png");
}

.decorator {
    -fx-shape: "M0,0 L1,1 L1,0 Z";
}

#decorator-ANNOTATION {
    -fx-background-color: grey;
}

#decorator-NORMAL {
    -fx-background-color: transparent;
}

#decorator-NUMERICAL {
    -fx-background-color: red;
}

#decorator-DATE {
    -fx-background-color: orange;
}

#decorator-TIME {
    -fx-background-color: purple;
}

#decorator-ORDINAL {
    -fx-background-color: green;
}
#decorator-ORDINAL_WITH_WRAPAROUND {
    -fx-background-color: brown;
}

.tool-bar .button {
    -fx-text-fill: #673AB7;
}

.tool-bar .button:hover {
    -fx-text-fill: #ff0000;
}

.gridmajor {
    -fx-stroke: blue;
}

.gridminor {
    -fx-stroke: black;
}
.x {
    -fx-stroke: red;
}

.o {
    -fx-stroke: blue;
}


.slideout {
    -fx-background-color: rgba(75,0,130,.50);
    -fx-padding: 5 5 5 5;
}

.slideout .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.gridLabel {
    -fx-border-color: blueviolet;
    -fx-label-padding: 5px;
}

.gridLabel:hover {
    -fx-border-color: red;
    -fx-label-padding: 5px;
    -fx-text-fill: red;
}

.cirlcebutton {
    -fx-background-radius: 3em;
    -fx-border-radius: 3em;
    -fx-border-color: blueviolet;
    -fx-min-width: 34px;
    -fx-min-height: 34px;
    -fx-max-width: 34px;
    -fx-max-height: 34px;
    -fx-font-weight: bold;
}
.cirlcebutton#plus {
    -fx-graphic: url("/icons/toolbar/plus.png");
}
.cirlcebutton#minus {
    -fx-graphic: url("/icons/toolbar/minus.png");
}

.glyphbox .virtual-flow {
/*    -fx-preferred-width: 34px;
    -fx-max-width: 34px;
    -fx-min-width: 34px;*/
    /*-fx-padding: 0 0 0 0;*/
    -fx-margins: 4 4 4 4;
    /*-fx-orientation:horizontal;*/
    /*-fx-alignment: CENTER_RIGHT;*/
    -fx-min-height: 30px;
    -fx-preferred-height: 30px;
    -fx-max-height: 30px;
    -fx-background-color: transparent;
    /*-fx-padding: 0 100 0 100;*/
}


.glyphbox .virtual-flow .label {
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
    -fx-border-color: blueviolet;
    
                /*top right bottom left*/
    -fx-padding: 0 10 0 10;
    /*-fx-margins: 4 40 4 4;*/
    
    -fx-preferred-width: 34px;
    -fx-min-width: 34px;
    -fx-max-width: 34px;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-text-fill: blueviolet;
    -fx-alignment:CENTER;
}

.glyphbox .virtual-flow .label:hover {
    -fx-background-color: blueviolet;
    -fx-text-fill: white;
}
.glyphbox .virtual-flow .label .tooltip {
    -fx-background-color: white;
    -fx-text-fill: blueviolet;
    -fx-border-color: blueviolet;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.clue_NORMAL {
    -fx-border-color: blueviolet;
}

.clue_SPECIAL {
    -fx-border-color: red;
}

.tooltip {
    -fx-background-color: blueviolet;
}

.notification-pane .notification-bar > .pane {
    -fx-background-color:slateblue;
}

.notification-pane .notification-bar > .pane > .label {
    -fx-text-fill: white;
}



.gridCell:hover {
    -fx-background-color: yellow;
}

.highlight-NORMAL {
    -fx-background-color: white;
}

.highlight-PREDECESSOR {
    -fx-background-color: lightcoral;
}

.highlight-UNIQUE {
    -fx-background-color: lightblue;
}

.highlight-TRANSPOSE {
    -fx-background-color: lightcyan;
}

.highlight-COMMONALITY {
    -fx-background-color: limegreen;
}

.highlight-CONSTRAINT {
    -fx-background-color: lightcoral;
}

.highlight-CROSS {
    -fx-background-color: lightgreen;
}


/* popup notifications */
.notification-bar > .pane {
    -fx-background-color: slateblue;
}
